body{
    width: 300px;
}
button{
    margin: 5px;
    cursor: pointer;
    color: 80, 80, 80;
    border-color: transparent;
    background-color: 245, 245, 245;
    padding: 10px;
    border-radius: 5px;
}
button:hover{
    background-color: aquamarine;
}
#Color1{
    display: flex;
}